useDynLib(ssCTPR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
S3method(.pgs,default)
S3method(merge,lassosum)
S3method(merge,lassosum.pipeline)
S3method(plot,validate.lassosum)
S3method(pseudovalidate,lassosum.pipeline)
S3method(splitvalidate,lassosum.pipeline)
S3method(subset,lassosum.pipeline)
S3method(validate,lassosum.pipeline)
importFrom(Rcpp,evalCpp)
importFrom(graphics, legend, points)
importFrom(stats, cor, lm, na.exclude, qt, resid, residuals)
importFrom(utils, installed.packages)