useDynLib(ssCTPR, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
S3method(.pgs,default)
S3method(merge,ssCTPR)
S3method(merge,ssCTPR.pipeline)
S3method(subset,ssCTPR.pipeline)
S3method(validate,ssCTPR.pipeline)
importFrom(Rcpp,evalCpp)
importFrom(graphics, legend, points)
importFrom(stats, cor, lm, na.exclude, qt, resid, residuals)
importFrom(utils, installed.packages)